In [ ]:
# Q1
'''
Database - Database is a collection of organized and structured data that is stored and accessed
electronically. It is basically collection of data items stored in one place and having some common
base between them. i.e. College database

Difference between SQL and NOSQL :-
i) Sql database uses tables with predefined schemas while Nosql database use flexible data models like
key-value pairs, documents, graphs.
ii) Sql database use sql to query and manipulate data while Nosql database use proprietary query 
language or APIs.
iii) Sql can be limited in terms of scalability while Nosql are designed for scalability and can handle
large volumens of data.

'''

In [ ]:
# Q2
'''
DDL - Data Definition Language
It refers to the set of sql statements used to define and manipulate the structure of a database
and its objects like tables,indexes, etc.
CREATE DROP ALTER TRUNCATE are commands that are part of DDL

Examples :-

a) Create statement is used to create a database(schema) or tables inside the database 
   i.e. create table a1(id int , name varchar(15));
b) Drop statement is used to delete the data as well as the structure of the table/database
   i.e. drop table a1;
c) Alter statement is basically to add,modify,rename cloumns/tables etc.
   i.e. alter table a1 add id1 char(3);
d) Truncate statement is used to delete all the data at once.
   i.e. truncate table a1

'''

In [ ]:
# Q3
'''
DML - Data Manipulation Language
It is used for adding,updating and manipulating the data inside the databases.
INSERT UPDATE DELETE are the commands that are part of DML language.

a) insert statement is used to insert data into the tables.
   i.e. insert into a1(id , name) values (1 , 'Ajinkya'),(2 , 'Aditya') ;
b) update statement is used to update a particular tuple or a set of tuples.
   i.e. update a1 set name = 'Aditi' where id = 2 ;
c) delete statement is used to delete a particular data or set of data.
   i.e. delete from a1 where id = 1 ;
'''

In [ ]:
# Q4 
'''
DQL - Data Query Language
It is used to retrieve data from the database.It includes statement such as select, where ,etc.

a) Select statment is used to select a particular set of data as required
   i.e. select * from a1 ; [select all the data in the table a1]
'''

In [ ]:
# Q5
'''
Primary key :
It is a column or combination of columns that uniquely identifies each row in a table.A primary key
is a type of constraint that enforces uniqueness of the values in the specified column or columns.
Primary key is used as reference for the foreign key constraints for establishing relationships 
between the tables.

Foreign key :
A Foreign key is a column or combination of columns in one table that refer to the primary key of 
another table.It is used to establish a relationship between two or more tables to retrieve data from
multiple tables at once.

'''

In [3]:
# Q6
'''
cursor() - This method creates a cursor object that can be used to execute sql queries on the database.

execute() - This method is used to execute the queries on the database using the cursor object.
'''
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost' ,
    user = 'root' ,
    password = 'root' ,
    database = 'food_db'
)

# Creation of cursor object
cursor = mydb.cursor()

# Executing query
cursor.execute("select * from items")
for i in cursor.fetchall():
    print(i)

('vada pav', Decimal('10.00'))
('dosa', Decimal('20.00'))
('sandwich', Decimal('16.00'))
('pizza', Decimal('40.00'))

In [ ]:
# Q7
# The order of execution of Sql clauses :-
# from -> where -> group by -> having -> select -> distinct -> order by -> limit