In [27]:
#1 Sort the list based on the scores of players
a = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
result = sorted(a , key = lambda a : a[1] , reverse = True) # sorted function takes 3 parameters values to be sorted,key,reverse
# We have passed the function(key) to sort according to the scores of players in descending order
print(result)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
#2 Square of all numbers in a list
l = [1,2,3,4,5,6,7,8,9,10]
res = list(map(lambda x : x**2 , l))
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
#3 Convert given list of integers into a tuple of string
l1 = [1,2,3,4,5,6,7,8,9,10]

t1 = tuple([str(i) for i in l1])
print(t1)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [21]:
#4 product of list containing nos from 1 to 25 using reduce
from functools import reduce
l1 = [i for i in range(1,26)]
result = int(reduce(lambda a,b : a*b , l1))
print("The product :",result)

The product : 15511210043330985984000000

In [12]:
#5 Filter the numbers divisible by 2 and 3
l2 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
result = list(filter(lambda a : a%2 == 0 and a%3 == 0 , l2))
print(result)

[6, 60, 90, 120]

In [15]:
#6 Find palindromes in the given list using lambda and filter
l3 = ['python', 'php', 'aba', 'radar', 'level']
result = list(filter(lambda x : x == x[::-1] , l3))
print(result)

['php', 'aba', 'radar', 'level']